@model Fitnesclubplus.Models.Service

@{
    ViewData["Title"] = "Hizmet Detayı";
}

<h1>Hizmet Detayı</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Hizmet Adı</dt>
        <dd class="col-sm-9 fw-bold">@Html.DisplayFor(model => model.ServiceCategory.Name)</dd>

        <dt class="col-sm-3">Eğitmen</dt>
        <dd class="col-sm-9">
            @if (Model.Trainer != null)
            {
                @Html.DisplayFor(model => model.Trainer.FullName)
            }
            else
            {
                <span class="text-muted">Eğitmen Yok</span>
            }
        </dd>

        <dt class="col-sm-3">Salon</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Gym.Name)</dd>

        <dt class="col-sm-3">Ücret</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Price) ₺</dd>

        <dt class="col-sm-3">Süre</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DurationMinutes) Dk</dd>

        <dt class="col-sm-3">Açıklama</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div>